/* ! RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Whitney', sans-serif;
}

/* * Utility */

.fl-left {
    float: left;
}

.mg-bot {
    margin-bottom: 2rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* * Color utility */
.bg-gray {
    background-color: rgb(246, 246, 246);
}

.bg-white {
    background-color: white;
}

.btn-black {
    background-color: black;
    color: white;
}

/* * Generics */

.btn {
    border: none;
    padding: 8px 10px;
    border-radius: 30px;
}

.btn-large {
    padding: 12px 15px;
}

/* * Header */
header {
    width: 100%;
    height: 80px;
    background-color: rgb(49, 97, 224);
    line-height: 80px;
}

.container {
    width: 75%;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 20%;
}

.logo>img {
    vertical-align: middle;
}

.main-nav {
    width: calc(100% - 40%);
    text-align: center;
}

.login {
    width: 20%;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 1vw;
    font-weight: 500;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.jumbotron {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.page-title {
    text-align: center;
    color: white;
    padding: 75px 50px;
}

.jumbotron h1 {
    font-size: 40px;
}

.jumbotron p {
    width: 60%;
    margin: 0 auto;
    line-height: 1.5rem;
}

.buttons {
    padding: 1.5rem 0;
}

.buttons .btn {
    margin-right: 1rem;
}

/* * Content */

.content {
    display: inline-block;
}

.content-section {
    margin-bottom: 3rem;
}

.content-img {
    width: calc(65% - 5px);
    padding: 4rem 3rem;
}

.content-img>img {
    width: 100%;
}

.content-text {
    width: 35%;
    padding: 13vh 4vw 15vh 2vw;
}

.content-text p {
    font-size: 14px;
    margin-top: 1.5rem;
    line-height: 1.4rem;
}

.full-width-text {
    text-align: center;
}

.title {
    font-size: 30px;
}

.image>img {
    width: 100%;
}

.star {}
